<!doctype html>
<script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Test Stuff</title>
    </head>
    <body>
        <div class="search_body">
            <h1>Wah!</h1>
            <div class="search_bar">
                <div class="search_select">
                    <select name="year_drpdwn" id="year_drpdwn">
                        <option value=-1 selected disabled hidden>Year</option>
                        {% for year in years %}
                        <option value="{{ year.id }}">{{year.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="search_select">
                    <select name="make_drpdwn" id="make_drpdwn">
                        <option value=-1 selected disabled hidden>Make</option>
                        {% for make in makes %}
                        <option value="{{ make['id'] }}">{{make['name']}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="search_select">
                    <select name="flex_drpdwn" id="flex_drpdwn">
                        <option value=-1 selected disabled hidden>Flex</option>
                        {% for flex in flexes %}
                        <option value="{{ flex['id'] }}">{{flex['name']}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="search_select">
                    <select name="curve_drpdwn" id="curve_drpdwn">
                        <option value=-1 selected disabled hidden>Curve</option>
                        {% for curve in curves %}
                        <option value="{{ curve['id'] }}">{{curve['name']}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="search_btn">
                    <button class="custom-btn clear_btn" id="clear_btn">CLEAR</button>
                </div>
            </div>
            <div>
                <input type="text" id="text_search" placeholder="Search for your stick...">
            </div>
            <div class="container">
                <table id="stick_tbl">
                    <thead>
                        <tr>
                            <th> Year </th>
                            <th> Make </th>
                            <th> Model </th>
                            <th> Flex </th>
                            <th> Curve </th>
                        </tr>
                    </thead>
                    <tbody id="stick_tbl_body">
                        <tr id=-1><td> Results go here </td><td></td><td></td><td></td><td></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            function ajax_call(url, success_function, ...json_args) {
                var csrf_token = "{{ csrf_token() }}";

                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader("X-CSRFToken", csrf_token)};
                    }
                });

                // Args List of lists to a dict
                var json_data = {};
                for (let i = 0; i < json_args.length; i++) {
                    json_data[json_args[i][0]] = json_args[i][1];
                };

                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(json_data),
                    contentType: 'application/json; charset=utf-8',
                    url: url,
                    success: function(data) {
                        success_function(data);
                    }
                });
            }
        </script>
        <script>
            function update_dropdown(dropdown_obj, dropdown_default, dropdown_data, current_id) {
                dropdown_obj.empty();
                if (current_id == "-1") {
                    dropdown_obj.append(
                        '<option value=-1 selected disabled hidden>' + dropdown_default + '</option>'
                    );
                }
                for (var i=0; i < dropdown_data.length; i++){
                    dropdown_obj.append(
                        '<option value="' + dropdown_data[i].id + '">' + dropdown_data[i].name + '</option>'
                    );
                }
            }
        </script>
        <script>
            function format_tr_flex(flex_data) {
                var select_options = '<div class="search_select flex_select"><select class="flex_opts" name="flex_opts">'
                for (var i=0; i < flex_data.length; i++) {
                    var new_tr = '<option name="flex_tr_option" class="flex_tr_option" id=' +
                        flex_data[i] + '>' + flex_data[i] + '</option>'
                    select_options += new_tr
                }
                select_options += '</select></div>'
                return select_options
            }
        </script>
        <script>
            function format_tr_curve(curve_data) {
                var select_options = '<div class="search_select curve_select"><select class="curve_opts" name="curve_opts">'
                for (var i=0; i < curve_data.length; i++) {
                    var new_tr = '<option name="curve_tr_option" class="curve_tr_option" id=' +
                        curve_data[i].id + '>' + curve_data[i].name + '</option>'
                    select_options += new_tr
                }
                select_options += '</select></div>'
                return select_options
            }
        </script>
        <script>
            function update_stick_results(stick_data) {
                $("#stick_tbl_body").empty();
                if (stick_data.length == 0) {
                    $("#stick_tbl_body").append('<tr id=-1><td> Results go here </td><td></td><td></td><td></td><td></td></tr>');
                }
                for (var i=0; i < stick_data.length; i++) {
                    $("#stick_tbl_body").append('<tr id=' + stick_data[i].id + '><td>' + stick_data[i].year +
                        '</td><td>' + stick_data[i].make + '</td><td>' + stick_data[i].model +
                        '</td><td>' + format_tr_flex(stick_data[i].flexes) + '</td> <td>' +
                        format_tr_curve(stick_data[i].curves) + '</td></tr>');
                }
            }
        </script>
        <script>
            function update_from_values(current_values) {
                var make_id = current_values[0],
                flex_id = current_values[1],
                curve_id = current_values[2],
                year = current_values[3];

                var url = "{{ url_for('viewer_pages.update_from_dropdown') }}";
                function on_return_success(data) {
                    var curve_data = data['curves'],
                    stick_data = data['sticks'];

                    update_dropdown($("#curve_drpdwn"), 'Curve', curve_data, curve_id);
                    update_stick_results(stick_data);
                }

                ajax_call(url, on_return_success, ['make_id', make_id],
                 ['curve_id', curve_id], ['flex_id', flex_id], ['year',  year]);
            }
        </script>
        <script>
            function update_from_text_input(search_text) {
                if (search_text == '') {
                    update_stick_results([]);
                    return;
                }

                var url = "{{ url_for('viewer_pages.update_from_text_search') }}";
                var current_sticks = [];
                var rows = document.getElementById('stick_tbl_body').rows;
                var current_sticks = [];
                for (let i=0; i < rows.length; i++) {
                    current_sticks.push(rows[i].id);
                }

                function on_return_success(data) {
                    var stick_data = data['sticks'];
                    update_stick_results(stick_data)
                }

                ajax_call(url, on_return_success, ['current_sticks', current_sticks], ['search_text', search_text]);
            }
        </script>
        <script>
            function clear_filters() {
                var url = "{{ url_for('viewer_pages.get_default_dropdown_values') }}";
                function on_return_success(data){
                    var years = data['years'],
                        makes = data['makes'],
                        flexes = data['flexes'],
                        curves = data['curves'];

                        update_dropdown($("#year_drpdwn"), 'Year', years, "-1");
                        update_dropdown($("#make_drpdwn"), 'Make', makes, "-1");
                        update_dropdown($("#flex_drpdwn"), 'Flex', flexes, "-1");
                        update_dropdown($("#curve_drpdwn"), 'Curve', curves, "-1");
                        $("#stick_tbl_body").empty();
                        $("#stick_tbl_body").append(
                        '<tr id=-1><td> Results go here </td><td></td><td></td><td></td><td></td></tr>'
                        );
                        document.getElementById('text_search').value = "";
                }

                ajax_call(url, on_return_success);
            }
        </script>
        <script>
            function get_current_values() {
                return [
                    document.getElementById('make_drpdwn').value,
                    document.getElementById('flex_drpdwn').value,
                    document.getElementById('curve_drpdwn').value,
                    document.getElementById('year_drpdwn').value
                ];
            }
        </script>
        <script>
            document.getElementById('year_drpdwn').onchange = function() {
                update_from_values(get_current_values());
            };
            document.getElementById('make_drpdwn').onchange = function() {
                update_from_values(get_current_values());
            };
            document.getElementById('flex_drpdwn').onchange = function() {
                update_from_values(get_current_values());
            };
            document.getElementById('curve_drpdwn').onchange = function() {
                update_from_values(get_current_values());
            };

            document.getElementById('text_search').onkeyup = function() {
                update_from_text_input(this.value);
            };

            document.getElementById('clear_btn').onclick = function() {
                clear_filters();
            };
        </script>
    </body>
</html>