html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #313d4f, #1f233d);
	font-family: sans-serif;
	font-weight: 100;
}

.search_body {
    position: relative;
    left: 5%;
}

table {
	width: 820px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(180,180,180,0.2);
	color: #fff;
}

th {
	text-align: left;
	background-color: #55608f;
}

tbody > tr:hover {
			background-color: rgba(255,255,255,0.1);
		}

input {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 800px;
  border: 1px solid rgba(100, 100, 150, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, .2);
  color: white;
  outline: none;
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #474f80;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.search_select {
  position: relative;
  display: inline-flex;
  width: 10em;
  height: 3em;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
}

select {
  font-size: 1em;
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.search_select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #6971b3;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.search_select:hover::after {
  color: #8cbbed;
}

/* Button stuff */
.search_btn {
  position: relative;
  display: inline-flex;
  width: 5em;
  height: 3em;
}

.custom-btn {
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid rgba(150, 150, 200, .5);
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.clear_btn {
  background: #474f80;
  color: #fff;
  z-index: 1;
}
.clear_btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #8cbbed;
  transition: all 0.3s ease;
}
.clear_btn:hover {
  color: #000;
}
.clear_btn:hover:after {
  top: 0;
  height: 100%;
}
.clear_btn:active {
  top: 2px;
}
